In [1]:
import pandas as pd
import sys
import unicodedata
sys.path.append("..")
import ontology_category as oc
sys.path.pop()
svo = oc.init_svo()
units = pd.read_csv('units.csv')[0].tolist()

In [2]:
indicators = pd.read_csv('wdi_glossary.csv', encoding='ISO-8859-1')

In [3]:
indicators.head()

,Code,Indicator Name,Long definition,Source,Dataset_id,Dimension,Datasource_Name,ddpcube_id,Dimension_Name
0,AG.AGR.TRAC.NO,"Agricultural machinery, tractors",Agricultural machinery refers to the number of...,"Food and Agriculture Organization, electronic ...",60,Series,World Development Indicators,2,Series
1,AG.CON.FERT.PT.ZS,Fertilizer consumption (% of fertilizer produc...,Fertilizer consumption measures the quantity o...,"Food and Agriculture Organization, electronic ...",60,Series,World Development Indicators,2,Series
2,AG.CON.FERT.ZS,Fertilizer consumption (kilograms per hectare ...,Fertilizer consumption measures the quantity o...,"Food and Agriculture Organization, electronic ...",60,Series,World Development Indicators,2,Series
3,AG.LND.AGRI.K2,Agricultural land (sq. km),Agricultural land refers to the share of land ...,"Food and Agriculture Organization, electronic ...",60,Series,World Development Indicators,2,Series
4,AG.LND.AGRI.ZS,Agricultural land (% of land area),Agricultural land refers to the share of land ...,"Food and Agriculture Organization, electronic ...",60,Series,World Development Indicators,2,Series

In [4]:
wdi = pd.DataFrame(indicators[['Indicator Name','Long definition']])

In [5]:
wdi.head()

,Indicator Name,Long definition
0,"Agricultural machinery, tractors",Agricultural machinery refers to the number of...
1,Fertilizer consumption (% of fertilizer produc...,Fertilizer consumption measures the quantity o...
2,Fertilizer consumption (kilograms per hectare ...,Fertilizer consumption measures the quantity o...
3,Agricultural land (sq. km),Agricultural land refers to the share of land ...
4,Agricultural land (% of land area),Agricultural land refers to the share of land ...

In [6]:
bulk_words = pd.read_csv('english_insignificant_words.csv', encoding='ISO-8859-1',\
                   header = None).fillna('')

In [7]:
', '.join(bulk_words[0].tolist())

'to, of, in, for, on, with, at, by, from, up, about, into, over, after, would, there, their, the, and, a, that, i, it, not, he, as, you, this, but, his, they, her, she, or, an, will, my, are, is, have, has, had, who, which, where, whom, toward, towards, than, then, since, accordingly, also, besides, comparatively, conversely, equally, further, hence, however, incidentally, instead, meanwhile, namely, next, now, rather, still, then, therefore, undoubtedly, additionally, anyway, certainly, consequently, eslewhere, finally, furthermore, henceforth, in addition, in contrast, indeed, likewise, moreover, nevertheless, nonetheless, otherwise, similarly, subsequently, thereafter, thus, yet'

In [8]:
wdi['indicator_name_parse']=wdi['Indicator Name'].str.replace('\(','')\
                            .str.replace('\)','').str.replace(', ',' ')\
                            .str.replace('; ',' ').str.replace(': ',' ').str.lower()
wdi['indicator_name_parse'].head()

0                      agricultural machinery tractors
1    fertilizer consumption % of fertilizer production
2    fertilizer consumption kilograms per hectare o...
3                             agricultural land sq. km
4                     agricultural land % of land area
Name: indicator_name_parse, dtype: object

In [9]:
for word in bulk_words[0].tolist():
    wdi['indicator_name_parse'] = wdi['indicator_name_parse'].str.replace(' '+word+' ',' ')
    temp = wdi['indicator_name_parse'].str.startswith(word+' ')
    if temp.any():
        wdi.loc[temp,'indicator_name_parse'] = wdi.loc[temp,'indicator_name_parse'].str.split(' ',1)[1]
    temp = wdi['indicator_name_parse'].str.endswith(word+' ')
    if temp.any():
        wdi.loc[temp,'indicator_name_parse'] = wdi.loc[temp,'indicator_name_parse'].str.rsplit(' ',1)[0]
wdi['indicator_name_parse'].head()

0                      agricultural machinery tractors
1       fertilizer consumption % fertilizer production
2    fertilizer consumption kilograms per hectare a...
3                             agricultural land sq. km
4                        agricultural land % land area
Name: indicator_name_parse, dtype: object

In [10]:
def is_number(s):
    try:
        float(s.replace(',',''))
        return True
    except ValueError:
        pass
 
    try:
        unicodedata.numeric(s.replace(',',''))
        return True
    except (TypeError, ValueError):
        pass
 
    return False

In [12]:
categories = ['object','process','property','quantity','state','attribute']
other = ['number','currency','scale','units','range','percent']
for cat in categories+other:
    wdi[cat]=''
for i, row in wdi.iterrows():
    for word in row['indicator_name_parse'].split():
        if is_number(word):
            wdi.loc[i,'number'] = (wdi.loc[i,'number'] + ', '+ word).lstrip(', ')
        elif is_number(word.replace('$','')):
            wdi.loc[i,'currency'] = (wdi.loc[i,'currency'] + ', '+ word).lstrip(', ')
        elif is_number(word.replace('-','')):
            wdi.loc[i,'range'] = (wdi.loc[i,'range'] + ', '+ word).lstrip(', ')
        elif is_number(word.replace('%','')):
            wdi.loc[i,'percent'] = (wdi.loc[i,'percent'] + ', '+ word).lstrip(', ')
        elif '=' in word:
            wdi.loc[i,'scale'] = (wdi.loc[i,'scale'] + ', '+ word).lstrip(', ')
        elif word in units:
            wdi.loc[i,'units'] = (wdi.loc[i,'units'] + ', '+ word).lstrip(', ')
        else:
            for cat in categories:
                if svo.is_cat(word,cat,out='short'):
                    wdi.loc[i,cat] = (wdi.loc[i,cat] + ', '+ word).lstrip(', ')

In [13]:
display(wdi)

,Indicator Name,Long definition,indicator_name_parse,object,process,property,quantity,state,attribute,number,currency,scale
0,"Agricultural machinery, tractors",Agricultural machinery refers to the number of...,agricultural machinery tractors,"machinery, tractors",,,,,agricultural,,,
1,Fertilizer consumption (% of fertilizer produc...,Fertilizer consumption measures the quantity o...,fertilizer consumption % fertilizer production,"fertilizer, fertilizer, production","consumption, production",consumption,production,consumption,,,,
2,Fertilizer consumption (kilograms per hectare ...,Fertilizer consumption measures the quantity o...,fertilizer consumption kilograms per hectare a...,"fertilizer, land","consumption, land","consumption, land","kilograms, hectare","consumption, land",arable,,,
3,Agricultural land (sq. km),Agricultural land refers to the share of land ...,agricultural land sq. km,land,land,land,km,land,agricultural,,,
4,Agricultural land (% of land area),Agricultural land refers to the share of land ...,agricultural land % land area,"land, land, area","land, land","land, land, area",,"land, land, area",agricultural,,,
5,Arable land (hectares),Arable land (in hectares) includes land define...,arable land hectares,land,land,land,hectares,land,arable,,,
6,Arable land (hectares per person),Arable land (hectares per person) includes lan...,arable land hectares per person,"land, person",land,land,hectares,land,arable,,,
7,Arable land (% of land area),Arable land includes land defined by the FAO a...,arable land % land area,"land, land, area","land, land","land, land, area",,"land, land, area",arable,,,
8,Land under cereal production (hectares),Land under cereal production refers to harvest...,land under cereal production hectares,"land, cereal, production","land, production",land,"production, hectares",land,"under, cereal",,,
9,Permanent cropland (% of land area),Permanent cropland is land cultivated with cro...,permanent cropland % land area,"permanent, land, area",land,"land, area",,"land, area",permanent,,,
10,Rural land area where elevation is below 5 met...,Rural land area below 5m is the total rural la...,rural land area elevation below 5 meters sq. km,"land, area, elevation, meters","land, elevation, meters","land, area, elevation, meters","elevation, meters, km","land, area, elevation",rural,5,,
11,Rural land area where elevation is below 5 met...,Rural land area below 5m is the percentage of ...,rural land area elevation below 5 meters % tot...,"land, area, elevation, meters, total, land, area","land, elevation, meters, total, land","land, area, elevation, meters, land, area","elevation, meters, total","land, area, elevation, land, area","rural, total",5,,
12,Urban land area where elevation is below 5 met...,Urban land area below 5m is the total urban la...,urban land area elevation below 5 meters sq. km,"land, area, elevation, meters","land, elevation, meters","land, area, elevation, meters","elevation, meters, km","land, area, elevation",urban,5,,
13,Urban land area where elevation is below 5 met...,Urban land area below 5m is the percentage of ...,urban land area elevation below 5 meters % tot...,"land, area, elevation, meters, total, land, area","land, elevation, meters, total, land","land, area, elevation, meters, land, area","elevation, meters, total","land, area, elevation, land, area","urban, total",5,,
14,Land area where elevation is below 5 meters (%...,Land area below 5m is the percentage of total ...,land area elevation below 5 meters % total lan...,"land, area, elevation, meters, total, land, area","land, elevation, meters, total, land","land, area, elevation, meters, land, area","elevation, meters, total","land, area, elevation, land, area",total,5,,
15,Forest area (sq. km),Forest area is land under natural or planted s...,forest area sq. km,"forest, area",forest,area,km,area,,,,
16,Forest area (% of land area),Forest area is land under natural or planted s...,forest area % land area,"forest, area, land, area","forest, land","area, land, area",,"area, land, area",,,,
17,Agricultural irrigated land (% of total agricu...,Agricultural irrigated land refers to agricult...,agricultural irrigated land % total agricultur...,"land, total, land","irrigated, land, total, land","land, land",total,"land, land","agricultural, total, agricultural",,,
18,Average precipitation in depth (mm per year),Average precipitation is the long-term average...,average precipitation depth mm per year,"precipitation, depth","average, precipitation","precipitation, depth","average, precipitation, mm, year",depth,average,,,
19,Land area (sq. km),"Land area is a country's total area, excluding...",land area sq. km,"land, area",land,"land, area",km,"land, area",,,,
20,Rural land area (sq. km),"Rural land area in square kilometers, derived ...",rural land area sq. km,"land, area",land,"land, area",km,"land, area",rural,,,
21,Urban land area (sq. km),"Urban land area in square kilometers, based on...",urban land area sq. km,"land, area",land,"land, area",km,"land, area",urban,,,
22,"Agricultural machinery, tractors per 100 sq. k...",Agricultural machinery refers to the number of...,agricultural machinery tractors per 100 sq. km...,"machinery, tractors, land",land,land,km,land,"agricultural, arable",100,,
23,Cereal production (metric tons),Production data on cereals relate to crops har...,cereal production metric tons,"cereal, production",production,,"production, metric, tons",,"cereal, metric",,,
24,Crop production index (2004-2006 = 100),Crop production index shows agricultural produ...,crop production index 2004-2006 = 100,"crop, production, index","crop, production, index",,"production, index",,,100,,=
25,Food production index (2004-2006 = 100),Food production index covers food crops that a...,food production index 2004-2006 = 100,"food, production, index","production, index",,"production, index",,,100,,=
26,Livestock production index (2004-2006 = 100),Livestock production index includes meat and m...,livestock production index 2004-2006 = 100,"livestock, production, index","production, index",,"production, index",,,100,,=
27,Surface area (sq. km),"Surface area is a country's total area, includ...",surface area sq. km,"surface, area",surface,"surface, area",km,area,surface,,,
28,Cereal yield (kg per hectare),"Cereal yield, measured as kilograms per hectar...",cereal yield kg per hectare,"cereal, yield",yield,,"yield, kg, hectare",,cereal,,,
29,Trade in services (% of GDP),Trade in services is the sum of service export...,trade services % gdp,"trade, services","trade, services","services, gdp",,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
1544,Commercial service exports (current US$),Commercial service exports are total service e...,commercial service exports current us$,"service, exports, current","service, exports, current",service,,,"commercial, current",,,
1545,High-technology exports (current US$),High-technology exports are products with high...,high-technology exports current us$,"exports, current","exports, current",,,,current,,,
1546,High-technology exports (% of manufactured exp...,High-technology exports are products with high...,high-technology exports % manufactured exports,"exports, exports","exports, manufactured, exports",,,,manufactured,,,
1547,Transport services (% of commercial service ex...,Transport services (% of commercial service ex...,transport services % commercial service exports,"transport, services, service, exports","transport, services, service, exports","transport, services, service",,transport,commercial,,,
1548,Travel services (% of commercial service exports),Travel services (% of commercial service expor...,travel services % commercial service exports,"services, service, exports","travel, services, service, exports","services, service",,,commercial,,,
1549,Battle-related deaths (number of people),Battle-related deaths are deaths in battle-rel...,battle-related deaths number people,"deaths, number","deaths, number, people","deaths, number","deaths, number",deaths,,,,
1550,"Internally displaced persons, new displacement...",Internally displaced persons are defined accor...,internally displaced persons new displacement ...,"persons, number, cases","displaced, displacement, associated, conflict,...","conflict, violence, number, cases","number, cases","conflict, violence, cases",new,,,
1551,"Internally displaced persons, new displacement...",Internally displaced persons are defined accor...,internally displaced persons new displacement ...,"persons, number, cases","displaced, displacement, associated, disasters...","disasters, number, cases","number, cases","disasters, cases",new,,,
1552,"Internally displaced persons, total displaced ...",Internally displaced persons are defined accor...,internally displaced persons total displaced c...,"persons, total, number","displaced, total, displaced, conflict, violenc...","conflict, violence, number","total, number","conflict, violence",total,,,
1553,"Intentional homicides (per 100,000 people)",Intentional homicides are estimates of unlawfu...,"intentional homicides per 100,000 people",,"homicides, people",,,,intentional,"100,000",,
1554,"Presence of peace keepers (number of troops, p...",Presence of peacebuilders and peacekeepers are...,presence peace keepers number troops police mi...,"presence, keepers, number, observers, mandate","presence, number, troops, police, mandate","presence, peace, number",number,"presence, peace",military,,,
1555,Account at a financial institution (% age 15+),Account at a financial institution denotes the...,account financial institution % age 15+,institution,"account, institution, age","account, age",age,account,financial,,,
1556,"Account at a financial institution, male (% ag...",Account at a financial institution denotes the...,account financial institution male % age 15+,"institution, male","account, institution, age","account, age",age,account,"financial, male",,,
1557,"Account at a financial institution, female (% ...",Account at a financial institution denotes the...,account financial institution female % age 15+,"institution, female","account, institution, age","account, age",age,account,"financial, female",,,
1558,"Account at a financial institution, income, po...",Account at a financial institution denotes the...,account financial institution income poorest 4...,institution,"account, institution, ages","account, ages","income, ages",account,"financial, poorest",,,
1559,"Account at a financial institution, income, ri...",Account at a financial institution denotes the...,account financial institution income richest 6...,institution,"account, institution, ages","account, ages","income, ages",account,"financial, richest",,,
1560,Account (% age 15+),Denotes the percentage of respondents who repo...,account % age 15+,,"account, age","account, age",age,account,,,,
1561,"Account, male (% age 15+)",Denotes the percentage of respondents who repo...,account male % age 15+,male,"account, age","account, age",age,account,male,,,
1562,"Account, female (% age 15+)",Denotes the percentage of respondents who repo...,account female % age 15+,female,"account, age","account, age",age,account,female,,,
1563,"Account, young adults (% ages 15-24)",Denotes the percentage of respondents who repo...,account young adults % ages 15-24,"young, adults","account, ages","account, ages",ages,account,young,,,
1564,"Account, older adults (% ages 25+)",Denotes the percentage of respondents who repo...,account older adults % ages 25+,adults,"account, ages","account, ages",ages,account,older,,,
1565,"Account, primary education or less (% ages 15+)",Denotes the percentage of respondents who repo...,account primary education less % ages 15+,primary,"account, primary, education, ages","account, education, less, ages",ages,"account, less","primary, less",,,
1566,"Account, secondary education or more (% ages 15+)",Denotes the percentage of respondents who repo...,account secondary education more % ages 15+,secondary,"account, education, ages","account, education, ages",ages,account,"secondary, more",,,
1567,"Account, income, poorest 40% (% ages 15+)",Denotes the percentage of respondents who repo...,account income poorest 40% % ages 15+,,"account, ages","account, ages","income, ages",account,poorest,,,
1568,"Account, income, richest 60% (% ages 15+)",Denotes the percentage of respondents who repo...,account income richest 60% % ages 15+,,"account, ages","account, ages","income, ages",account,richest,,,
1569,Mobile account (% age 15+),Mobile account denotes the percentage of respo...,mobile account % age 15+,mobile,"account, age","mobile, account, age",age,account,mobile,,,
1570,"Mobile account, male (% age 15+)",Mobile account denotes the percentage of respo...,mobile account male % age 15+,"mobile, male","account, age","mobile, account, age",age,account,"mobile, male",,,
1571,"Mobile account, female (% age 15+)",Mobile account denotes the percentage of respo...,mobile account female % age 15+,"mobile, female","account, age","mobile, account, age",age,account,"mobile, female",,,
1572,"Mobile account, income, poorest 40% (% ages 15+)",Mobile account denotes the percentage of respo...,mobile account income poorest 40% % ages 15+,mobile,"account, ages","mobile, account, ages","income, ages",account,"mobile, poorest",,,
1573,"Mobile account, income, richest 60% (% ages 15+)",Mobile account denotes the percentage of respo...,mobile account income richest 60% % ages 15+,mobile,"account, ages","mobile, account, ages","income, ages",account,"mobile, richest",,,